
<div class="login-wrapper padre" fxLayout="row" fxLayoutAlign="center center">
  

  <mat-card class="box" style="opacity: 100%;z-index:1">
    <mat-card-header>
      <img src="../../assets/logo.png" alt="">
    </mat-card-header>

    <form class="example-form" style="margin-right: 10%;">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <div style="display: flex;">
            <input matInput placeholder="Email" class="inputs" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" style="margin-right: 5%;"><i class="bi bi-envelope-fill"></i>

          </div>
          
        </mat-form-field>

        <mat-form-field class="example-full-width"> 
          <div style="display: flex;">
            <input matInput placeholder="Password" class="inputs" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="password">
            <i class="bi bi-lock-fill"></i>
          </div>
          
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button  class="rounded-pill" (click)="register()">Ingresar</button>
      <button mat-stroked-button  class="rounded-pill" routerLink="/home">Volver</button>
    
        <a routerLink="/register" href="" class="sign">¡Crea tu cuenta!
          <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
        </a>
     
     
    </form>
  </mat-card>

</div>

