<select class="form-select" aria-label="Default select example" [(ngModel)]="seleccionados" multiple="multiple" style="height:150px;">  
    <option [value]="item" *ngFor="let item of keywords">{{item.name}}</option>
  </select>
 <table class="table" style="height: 150px;max-width: 150px;">
    <thead>
      <tr>
        <th scope="col" style="color: white;">Palabras Clave</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of seleccionados">
        <td style="color: white;">{{item.name}}</td>
      </tr>
    </tbody>
</table>
<button class="rounded-pill" (click)="save()">Asignar</button>