<mat-card style="width: 500px;">
    <mat-card-header>
        
        
    </mat-card-header>
    <img src="https://w7.pngwing.com/pngs/823/310/png-transparent-kawaii-cat-kitten-happy-tamed-animal-tender-pet-feline-fun-thumbnail.png" alt="" style="border-radius: 50%;height: 250px;width:250px;margin-bottom: 5%;margin-left: 25%;">
    <mat-card-content>
        <div style="text-align: center;">
            
            <label for="" style="font-size: 1.5em;"><strong>Nombre</strong></label>
            <p style="width:100%;font-size: 1.25em;">{{operator.name}}</p>
            <label for="" style="font-size: 1.5em;"><strong>Apellidos</strong></label>
            <p style="font-size: 1.25em">{{operator.lastName}}</p>
            <label for="" style="font-size: 1.5em;"><strong>DNI</strong></label>
            <p style="font-size: 1.25em">{{operator.dni}}</p>
            <label for="" style="font-size: 1.5em;"><strong>Teléfono</strong></label>
            <p style="font-size: 1.25em">{{operator.phone}}</p>
            <label for="" style="font-size: 1.5em;"><strong>Email</strong></label>
            <p style="font-size: 1.25em;">{{operator.email}}</p>
            <label for="" style="font-size: 1.5em;"><strong>Tipo</strong></label>
            <p style="font-size: 1.25em">{{operator.type}}</p>
            <label for="" style="font-size: 1.5em;"><strong>Palabras Claves</strong></label>
            <p style="font-size: 1.25em;">{{table}}</p>
        </div>

    </mat-card-content>
    <mat-card-actions>
        
    </mat-card-actions>
</mat-card>
