<div style="display:flex;background-color: #ffffff;width: 100%;height: 100%;">
    <div>
        <img src="../../assets/logo.png" alt="" style="width:200px;margin-left:70%">
        <div style=" width: 400px;margin-left: 55%;height: 300px;">
            <h1 style="font-size:45px;line-height: 1em;"><strong>DESCUBRE LA NUEVA SOLUCIÓN TECNOLÓGICA PARA OPTIMIZAR CALL CENTERS</strong></h1>

        </div>
        <div style=" width: 500px;font-size:22px;line-height: 1.25em;margin-left: 45%;">
            <p>Con reconocimiento de voz y extracción de palabras claves ideales para optimizar el proceso de atención al cliente</p>
        </div>
        
        <div style="margin-left: 65%; width: 250px;">
            <button type="button" class="btn onButton" style="width: 100%;margin-bottom: 10%;margin-top: 20%;" routerLink="/login" (click)="sendCredentials()">INICIAR SESIÓN</button>
            <button type="button" class="btn onButton" style="width: 100%;" routerLink="/register">REGÍSTRATE</button>

        </div>
        

    </div>
    <div style="margin-left:20%">
        <div>
            <span> <button type="button" class="btn offButtons">INICIO</button></span>
            <span><button type="button" class="btn offButtons">CARACTERÍSTICAS</button></span>
            <span> <button type="button" class="btn offButtons">EL PROYECTO</button></span>
            <span><button type="button" class="btn offButtons">PLANEES</button></span>
            <span><button type="button" class="btn onButton" style="margin-left: 5%;width: 120px;">DEMO</button></span>
            
           
            
           
            
            
        </div>
        <img src="../../assets/homeImage.png" alt="" style="width:100%;height:90%">

    </div>
</div>
