body{
    background-color: #ffffff;
}

.offButtons{
    background-color: #fff4fc;
    margin:2%;
    margin-left: 5%;
    font-size:20px;

}

span{
    font-size: 200px;
}

.onButton{

    background-color: #3804fc;
    color: #ffffff;
    font-size:20px;
    
}