<mat-card>
    <mat-card-header>
        <mat-card-title>Nueva Palabra Clave</mat-card-title>
    </mat-card-header>
    <mat-card-content  style="text-align:center">
        <input type="text" placeholder="Nombre" style="margin:5%" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
        <mat-form-field  style="display: block;margin:5%">
            
            <mat-label>Ingrese estado</mat-label>
            <select  matNativeControl name="" id="" [(ngModel)]="active" [ngModelOptions]="{standalone: true}">
                <option value="" selected></option>
                <option value="ACTIVO">ACTIVO</option>
                <option value="INACTIVO">INACTIVO</option>
            </select>
        </mat-form-field>
       
        <mat-card-action>
            <button type="button" class="btn btn-primary" (click)="addNewKeyword()">Añadir</button>
        </mat-card-action>
    </mat-card-content>
</mat-card>
